<!DOCTYPE html>
<!— Import bootstrap and Latest compiled and minified CSS —>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style>
		.nowrap{white-space: nowrap;}
    .btn-file {
		  position: relative;
		  overflow: hidden;
		}

		.btn-file input[type=file] {
		  position: absolute;
		  top: 0;
		  right: 0;
		  min-width: 100%;
		  min-height: 100%;
		  font-size: 100px;
		  text-align: right;
		  filter: alpha(opacity=0);
		  opacity: 0;
		  outline: none;
		  background: white;
		  cursor: inherit;
		}

</style>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
{#Welcome to Intelicopter!#}
    <div class="page-header">
      <h2 align="center">Welcome to Intelicopter!</h2>
    </div>

<br>
{##}
{#<a href="/questions/">START</a>#}

	<div class="col-md-6 col-md-offset-3 responsive nowrap">
    <h3 align="center"><small>Tap on the button below to begin</small></h3>
    <button type="button" class="btn btn-default btn-sm btn-responsive"style="width:50%;background-color: #428bca;" disabled="disabled"><a href="/questions/">START</a></button>

</div>

</body></html>