<!DOCTYPE html>
<!— Import bootstrap and Latest compiled and minified CSS —>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Import jquery2-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<style>
.btn-group-vertical{
  height:100px;
  width:50%;
    position: absolute;
    margin: auto;
    left: 25%;
}
</style>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
{{ data_in_string| safe }}
<br>
{{ data| safe }}
<br>
{{ answers_in_string|safe }}
<br>
{{ highest_question_number|safe }}
<br>
{{ question|safe }}
<br>
Choose one: <br>
{{ options|safe }} <br>


<div class="btn-group-vertical" data-toggle="buttons">
<p id="demo"></p>
</div>
<script>
var theoptions = {{ options|safe }};
var text = "";
var i;
for (i = 0; i < theoptions.length; i++) {
    text += "<label class='btn btn-default btn-sm btn-responsive'><input align='center' type='radio' autocomplete='off' style='height:100px; width:50%;background-color: white;' > <span style='font-size:40px;'>"+ theoptions[i]+ "</span></label>"
}
document.getElementById("demo").innerHTML = text;
</script>





<div class="btn-group-vertical" data-toggle="buttons">
  <label class="btn btn-default btn-sm btn-responsive">
    <input align="center" type="radio" autocomplete="off" style="height:100px; width:50%;background-color: white;" ><span style="font-size:40px;">Radio 3</span>
  </label>
    <label class="btn btn-default btn-sm btn-responsive">
    <input align="center" type="radio" autocomplete="off" style="height:100px; width:50%;background-color: white;" ><span style="font-size:40px;">Radio 3</span>
  </label>  <label class="btn btn-default btn-sm btn-responsive">
    <input align="center" type="radio" autocomplete="off" style="height:100px; width:50%;background-color: white;" ><span style="font-size:40px;">Radio 3</span>
  </label>
</div>



<br>

<form action="/questions/" method="post">{% csrf_token %}
    <label for="answers">Choice</label>
    <input id="answers" type="text" name="answers" value="">
    <input id="data" type="hidden" name="data" value="{{data_in_string}}">
    <input type="submit" value="Submit">
</form>

<br>

Questions left: {{ questions_left| safe }}

</body>
</html>