<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>

{{ data|safe }}

<br>

{{ answers_in_string|safe }}

<br>

{{ question|safe }}
<br>
Choose one: <br>
{{ options|safe }} <br>

<br>

<form action="/questions2/" method="post">{% csrf_token %}
    <label for="answers">Choice</label>
    <input id="answers" type="text" name="answers" value="">
    <input id="data" type="hidden" name="data" value={{ data }}>
    <input type="submit" value="Submit">
</form>

</body>
</html>